.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    color: $color1;
    min-height: 88vh;
        .tab {
            height: 600px;
            width: 50%;
            overflow: hidden;
            &__action{
                display: flex;
                button{
                    height: 10%;
                    background:$color2;
                    width: 100%;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 10px;
                    font-family: $raleWay;
                    font-size: 16px;
                    letter-spacing: 2px;
                     transition: background 0.5s ease-in-out;
                     color: $colorWhite;
                    &:hover:not(.active){
                        background: $actionColor;
                      
                    }
                }
                .active{
                    color: $colorWhite;
                    transition: background 0.5s ease-in-out;
                    font-weight: 800;
                    background: $actionColor;
                    box-shadow: $btnShadow;    
                }
            }
            &__item{
                font-family: $roboto;
                animation: fadeEffect 1s;
                height: 100%;
                .content__parcours{
                display: flex;
                flex-direction: column;
                    height: 100%;
                    color: $color1;
                    h4{
                        color: $color1;
                        text-align: center;
                        font-weight: initial;
                    }
                    .item{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color:$color1;
                        color: $colorWhite;
                        width: 100%;
                        font-size: 14px;
                        box-shadow: $btnShadow;
                        transition: all 1s ease; 
                        &__show{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;
                            height: 40px;
                            transition: all 0.4 ease;
                            span{
                                width: 10%;
                                display: flex;
                                justify-content: center;
                                i{
                                    color: $actionColor;
                                }
                                .fa-chevron-circle-up{
                                    display: none;
                                }
                            }
                            p{
                                font-size: 12px;
                                width: 90%;
                            }
                        }
                        &__hidden{
                            padding: 10px;
                            font-size: 12px;
                            display: none;
                        }
                        .itemIsActive{
                            display: block;
                            animation: fadeEffect 0.6s ease;        
                        }
                    }
                    .formations{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around; 
                        height: 55%;
                     
                    }
                    .experiences{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 35%;
                        
                    }
                }
                .content{
                    padding: 30px;
                    height: 100%;
                    .hardSkills{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around; 
                        height: 60%;
                        .bar {
                            width: 100%;
                            height: 6px;
                            background-color:$color2;
                            margin: 5px 0px;
                            .skills {
                                height: 6px;
                              }
                              .HTML {
                                width: 90%; 
                                background-color: #ff9f43;
                                animation: fillBarHTML 1s ease-in-out;   
                              }
                              .SCSS{
                                width: 70%;
                                background: #ff9ff3;
                                animation: fillBarSCSS 1s ease-in-out;
                              }
                              .JS{
                                width: 65%;
                                background: #f9ca24;
                                animation: fillBarJS 1s ease-in-out; 
                              }
                              .ANGULAR{
                                  width: 50%;
                                  background: rgb(235, 11, 11);
                                animation: fillBarANGULAR 1s ease-in-out;
                              }
                              .VUE{
                                  width: 30%;
                                  background: #10ac84;
                                  animation: fillBarVUE 1s ease-in-out;
                              }
                              .BOOTSTRAP{
                                  width: 80%;
                                  background: #8854d0;
                                  animation: fillBarBOOTSTRAP 1S ease-in-out;
                              }
                              .PAO{
                                  width: 60%;
                                  background: rgb(23, 80, 202);
                                  animation: fillBarPAO 1S ease-in-out;
                              }
                        
                          }
                    }
                    .softSkills{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 40%;
                        &__title{
                            margin-top: 20px;
                        }
                        &__container{
                            display: flex;
                            
                            justify-content: space-around;
                            flex-wrap: wrap;
                            align-items: center;
                            p{
                           /*      width: 100%; */
                                text-align: center;
                                padding: 10px;
                                font-weight: 800;
                                background-color:$color3;
                                color: $colorWhite;
                            }
                        }
                    }
                    h4{
                        text-align: center;
                        margin: 10px;
                        font-weight: initial;
                    }
                }
            }
          }
    
    .me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 40%;
        padding: 30px;
            .img{
                filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
                img{
                    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                    height: 15vw;
                    width: 15vw;
                    max-height: 250px;
                    max-width: 250px;
                    object-fit: cover;
                    object-position: 75%;
                }
            }  
        p{
            font-family: $roboto;
            color: $color3;
            text-align: justify;
            text-justify: inter-word;
            font-size: 13px;
            line-height: 25px;
        }
    } 
}


@keyframes fillBarHTML{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 90%;
    }
}
@keyframes fillBarSCSS{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 70%;
    }
}
@keyframes fillBarJS{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 65%;
    }
}
@keyframes fillBarANGULAR{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 50%;
    }
}
@keyframes fillBarVUE{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 30%;
    }
}
@keyframes fillBarBOOTSTRAP{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 80%;
    }
}
@keyframes fillBarPAO{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 60%;
    }
}

@keyframes fadeEffect {
from {
    opacity: 0;
    transform: translateX(-20px);
}
to {
    opacity: 1;
    transform: translateX(0px);
}
}

@media screen and (max-width: 900px) {
    .about{
        flex-direction: column-reverse;
        .tab{
            width: 80%;
        }
        .me{
            display: none;
            background-color: green;
            height: 100%;
            padding: 0;
            flex-direction: row;
            p{
              display: none;     
            }
            .img{
                img{
                    height: 150px;
                    width: 300px;
                }
            }
        }
       
    }
}
@media screen and (max-width: 600px) {
    .about{
        .tab{
            height: 80vh;
            width: 90%;
            .item{
                padding: 10px;
            }
        }
        .me{
            display: none; 
        }
        .content__parcours{
            .item{
                &__show{
                    p{
                        font-size: 12px !important;
                    }
                }
                &__hidden{
                    font-size: 8px !important;
                }
            }
            
        }
        .softSkills__container{
            p{
                margin: 5px;
            }
        }
    }
}
@media screen and (max-height: 650px) {
    .tab{
       margin-top: 20px;
    }
}