.home{
    height: 90vh;
    display: flex;
    flex-direction: column;
    &__header{
        display: flex;
        justify-content: center;
        color: $color1;
        width:100%;
        height: 30%;
        font-family:$raleWay;
        .content{
            display: flex;
            justify-content: space-evenly;
            height: 50%;
            &__text{
                margin-top: 60px;
                p{
                    font-size:37px;
                    letter-spacing: 1px;   
                }
                h1{
                    letter-spacing: 10px;
                    font-size: 50px;
                    font-family: $roboto;
                    color: $color3;
                }
                h3{
                    font-size: 20px;
                    letter-spacing: 1px;
                    color: $color2;
                    span{
                        font-weight: 800;
                    }
                }
            }
        }
    }
    &__main{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 60%;
        .card{ 
            z-index: 2;
            display: flex;
            flex-direction: column;
            width: 25vw;
            height: 50vh;
            max-width: 300px;
            box-shadow: $cardShadow;
            &__content{
                color:$colorWhite;
                padding: 20px;
               /*  height: 60%; */
                h4{
                    font-family: $raleWay;
                    letter-spacing: 5px;
                    margin-bottom: 10px;
                }
                h3{
                     font-family: $raleWay;
                     letter-spacing: 5px;
                     margin-bottom: 40px;
                }
                p{
                    font-size: 12px;
                    font-family: $raleWay;
                    margin: 16px 0 12px 0;
                    font-weight: 800;
                }
            }
            &__img{
                display: flex;
                justify-content: center;
                height: 40%;
                img{
                    width: 200px;
                    height: 200px;
                }
            }
          
           
        }
        .card1{
            background: linear-gradient( $color1,#a4b0be);
        }
        .card2{
            background: linear-gradient( $color2,#a4b0be);
        }
        .card3{
            background: linear-gradient( $color3,#a4b0be);
        }
    }
}


@media screen and (max-width: 900px) {
.home{
    &__header{
        display: none;
    }
    &__main{
        flex-direction: column;
        height: 100%;
        .card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 70vw;
            height: 175px;
            max-width: none;
            &__content{
                p{
                    display: none;
                }
            }
            &__img{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 150px;
                    height: 150px;
                }
            }    
        }
    }
  }
}

@media screen and (max-width: 600px) {
    .home{
        .card{
            width: 90vw;
            &__img{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}