.portfolio{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 90vh;
   .slideshow-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      cursor: grab;
      &:active{
         cursor: grabbing;
      }
      .slideshow {
         position: absolute;
         display: flex;
         align-items: center;
         .slide {
            
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 99;
            flex-shrink: 0;
            background-size: cover;
            background-position: center;
            position: relative;
            user-select: none;
            width: 40vw;
            min-width: 550px;
            height: 600px;
            padding: 30px;
            transition: all 0.4s ease;
            opacity: 0.8;
            &:hover{
               opacity: 1;
            }
            img{
/*                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
 */               display: flex;
               justify-content: center;
               align-items: center;
               pointer-events: none;
               width: 100%;
               height: 100%;
               box-shadow: $cardShadow;
           }
            button{
               text-transform: uppercase;
               border: none;
               padding: 10px 15px;
               background:$actionColor;
               color: $colorWhite;
               box-shadow: $btnShadow;
               position: absolute;
               font-weight: 800;
               top:95%;
               left: 50%;
               cursor: pointer;
               transform: translate(-50%, -50%);
               font-family: $raleWay;
               font-size: 15px;
               letter-spacing: 2px;
               transition: all 1s ease;
               &:hover{
                  top: 94%;
                  left: 50.5%;
               }
           }
         }
       }
    }
    &__bar{
       display: flex;
       align-items: center;
       justify-content: center;
       height: 10%;
       width: 100%;
       .slideBar{
        height: 3px;
        width: 80%;
        background-color:$colorWhite;
         &__bar{
            height: 3px;
            background:$color2;
         }
      }
    }
    
}

@media screen and (max-width: 900px) {
   .portfolio{
      .slideshow-container{
         .slideshow{
            .slide{
              /*  width: 100vw !important; */
            }
         }
      }
   }
}