.projectModal{
    background: #353b48;
    display: flex;
    width: 700px;
    height: 500px;
    .left{
      width: 50%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      position: relative;
      font-family: $roboto;
      z-index: 10;
      padding: 20px;
      .action{
          width: 50%;
          display: flex;
          justify-content: space-evenly;
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $actionColor;
            font-size: 20px;
            text-decoration: none;
            margin-left: 10px;
            transition: all 1s ease;
            &:hover{
              transform:  translateX(5px) scale(1.2);
            }
          }
        }
        .bgWaveTop{
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
        .bgWaveBottom{
          width: 80%;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -1;
        }
        .title{
          color: white;
          font-size: 18px;
   
        }
        .desc{
          font-size: 15px;
          color: white;
          text-align: justify;
        }
        .category{
          color: white;
          text-align: center;
        }
        .tags{
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          &__item{
            background: rgb(102, 102, 102);
            padding: 10px 12px;
            color: white;
            font-weight: 800;
            font-size: 12px;
          }
          .itemCSS{
            background-color: #2e86de;
          }
          .itemSCSS{
            background-color: #ff9ff3;
          }
          .itemHTML{
            background-color: #ff9f43;;
          }
          .itemJS{
            background-color: #f9ca24;;
          }
        }
       
    }
  }