.stickyBtnContact{ 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right:20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
	padding:15px;
  font-size: 15px;
  transition: all 0.4s ease;
  background-color: $actionColor;
  color:$colorWhite;
  box-shadow: $btnShadow;
  transition: all 1s ease;
  &:hover{
    transform:  translateX(5px) scale(1.2);
  }
}

@media screen and (max-width: 900px) {
  .stickyBtnContact{
    display: none;
  }
  }
  
