.stickyBtnContact{ 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right:20px;
  background-color:$tertiary;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.6s ease;
  animation: spin 1s infinite;
  &:hover{
    background-color: $secondary;
    transform:  translateX(5px) scale(1.2);
  }
}

/* @media screen and (max-width: 900px) {
  .stickyBtnContact{
    display: none;
  }
}
@keyframes spin {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
} */