$primary:"" ;
$secondary:"";
$tertiary: "#44bd32";
$cardBoxShadow:"";

$raleWay : 'Raleway', sans-serif;
$roboto : 'Roboto', sans-serif;
$actionColor:#009fe3;
$color1: #353b48;
$color2: #2f3640;
$color3: #2f3542;
$colorWhite: #f1f2f6;
$colorRed: #eb4d4b;
$colorGreen: "";
$btnShadow:rgba(0, 0, 0, 0.16) 0px 1px 4px; ;
$cardShadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
