$primary: #009fe3;
$secondary:#7d00e3;
$tertiary: #44bd32;
$cardBoxShadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

$raleWay : 'Raleway', sans-serif;
$oswald : 'Oswald', sans-serif;
$roboto : 'Roboto', sans-serif;