
@import "./base/reset.scss";
@import "./utils/variables.scss";
@import "./pages/portfolio.scss";
@import "./pages/index.scss";
@import "./components/header.scss";
@import "./swup/swup.scss";
@import "./base/police.scss";
@import "./components/stickyBtn.scss";
@import "./pages/about.scss";
@import "./components/modal.scss";
@import "./components/loader.scss";
@import "./components/modalForm.scss";
@import "./components/modalProject.scss";
 body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background:blue
 }