@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.portfolio .slideshow-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  cursor: grab;
}
.portfolio .slideshow-container:active {
  cursor: grabbing;
}
.portfolio .slideshow-container .slideshow {
  position: absolute;
  display: flex;
  align-items: center;
}
.portfolio .slideshow-container .slideshow .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  position: relative;
  user-select: none;
  width: 40vw;
  min-width: 550px;
  max-width: 800px;
  /*       height: 600px; */
  padding: 30px;
  transition: all 0.4s ease;
  opacity: 0.8;
}
.portfolio .slideshow-container .slideshow .slide:hover {
  opacity: 1;
}
.portfolio .slideshow-container .slideshow .slide img {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.portfolio .slideshow-container .slideshow .slide button {
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
  background: #009fe3;
  color: #f1f2f6;
  position: absolute;
  font-weight: 800;
  top: 95%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 1s ease;
}
.portfolio .slideshow-container .slideshow .slide button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.portfolio__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}
.portfolio__bar .slideBar {
  height: 3px;
  width: 80%;
  background-color: #353b48;
}
.portfolio__bar .slideBar__bar {
  height: 3px;
  background: #009fe3;
}

@media screen and (max-width: 900px) {
  .portfolio .slideshow-container .slideshow .slide {
    /*  height:50vw; */
    min-width: 100vw;
    width: 100vw;
  }
}
.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.home__header {
  display: flex;
  justify-content: center;
  color: #353b48;
  width: 100%;
  height: 30%;
  font-family: "Raleway", sans-serif;
}
.home__header .content {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}
.home__header .content__text {
  margin-top: 60px;
}
.home__header .content__text p {
  font-size: 37px;
  letter-spacing: 1px;
}
.home__header .content__text h1 {
  letter-spacing: 10px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #2f3542;
}
.home__header .content__text h3 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #2f3640;
}
.home__header .content__text h3 span {
  font-weight: 800;
}
.home__main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
}
.home__main .card {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 50vh;
  max-width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.home__main .card__content {
  color: #f1f2f6;
  padding: 20px;
  height: 60%;
}
.home__main .card__content h4 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.home__main .card__content h3 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.home__main .card__content p {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  margin: 16px 0 12px 0;
  font-weight: 800;
}
.home__main .card__img {
  display: flex;
  justify-content: center;
  height: 40%;
}
.home__main .card__img img {
  width: 200px;
  height: 200px;
}
.home__main .card1 {
  background: linear-gradient(#353b48, #a4b0be);
}
.home__main .card2 {
  background: linear-gradient(#2f3640, #a4b0be);
}
.home__main .card3 {
  background: linear-gradient(#2f3542, #a4b0be);
}

@media screen and (max-width: 900px) {
  .home__header {
    display: none;
  }
  .home__main {
    flex-direction: column;
    height: 100%;
  }
  .home__main .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 175px;
    max-width: none;
  }
  .home__main .card__content p {
    display: none;
  }
  .home__main .card__img {
    height: 100%;
  }
  .home__main .card__img img {
    width: 175px;
    height: 155px;
  }
}
@media screen and (max-width: 600px) {
  .home .card {
    width: 90vw;
  }
  .home .card__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .card__img img {
    width: 30vw;
  }
}
header {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
header .isActiveItem {
  background: #353b4813;
}
header nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
header nav a {
  color: #353b48;
  text-decoration: none;
}
header nav .brand {
  width: 30%;
  z-index: 2;
  display: flex;
  align-items: center;
}
header nav .brand a {
  width: 280px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
header nav .brand a img {
  width: 40px;
}
header nav .brand a .me {
  margin-left: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
}
header nav .brand a .me h2 {
  font-size: 10px;
  letter-spacing: 2.5px;
}
header nav .nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Raleway", sans-serif;
}
header nav .nav ul li {
  position: relative;
  letter-spacing: 2px;
  font-weight: 600;
}
header nav .nav ul li a {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #2f3640;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}
header nav .nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: 0 0;
  background-color: #009fe3;
}
header nav .icons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .icons a {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  color: #009fe3;
  text-decoration: none;
  transition: all 0.6s ease;
}
header nav .icons a:last-child p {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}
header nav .icons a:hover {
  transform: translateX(5px) scale(1.2);
}
header nav .hamburger, header nav .responsiveNav {
  display: none;
}

@media screen and (max-width: 900px) {
  header nav {
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  header nav .brand {
    width: 100%;
  }
  header nav .nav {
    display: none;
  }
  header nav .icons {
    display: none;
  }
  header nav .hamburger {
    display: block;
    color: #00c4f5;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
  }
  header nav .hamburger .line {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: #04cdff;
    display: block;
    margin: 8px auto;
    transition: all 0.6s ease;
  }
  header nav .hamburger .line:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }
  header nav .hamburger .line:nth-child(2) {
    transform: translateY(-14px) rotate(-45deg);
  }
  header nav .responsiveNav {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    background-color: #2f3640f5;
    height: 91vh;
    transform: translateX(200px);
    width: 200px;
    opacity: 0;
    transition: all 0.6s ease-out;
    display: flex;
    flex-direction: column;
    /*     display: none; */
  }
  header nav .responsiveNav__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
  }
  header nav .responsiveNav__header a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    color: #009fe3;
    text-decoration: none;
    transition: all 0.6s ease;
  }
  header nav .responsiveNav__header a:last-child p {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
  }
  header nav .responsiveNav__header a:hover {
    transform: translateX(5px) scale(1.2);
  }
  header nav .responsiveNav__items {
    height: 70%;
  }
  header nav .responsiveNav__items ul {
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  header nav .responsiveNav__items ul li {
    width: 100%;
    height: 20%;
    position: relative;
    letter-spacing: 2px;
    font-weight: 600;
  }
  header nav .responsiveNav__items ul li:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  header nav .responsiveNav__items ul li:last-child {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  header nav .responsiveNav__items ul li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #f1f2f6;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  header nav .responsiveNav__items ul li:hover::before {
    transform: scaleX(1);
    transform-origin: 0 0;
    background-color: #009fe3;
  }
  header nav .responsiveNav__items ul li a {
    color: #f1f2f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  header nav .responsiveNav__footer {
    height: 10%;
    width: 100%;
  }
  header nav .responsiveNav__footer button {
    font-family: "Raleway", sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    background-color: #009fe3;
    border: none;
    cursor: pointer;
    color: #f1f2f6;
    font-size: 15px;
    font-weight: 800;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  header nav .responsiveNav__footer button:hover {
    background-color: #f1f2f6;
    color: #009fe3;
  }
  header nav .navIsActive {
    z-index: 10;
    width: 200px;
    opacity: 1;
    transition: all 0.6s ease-in;
    transform: translateX(0);
  }
  header nav .isActive {
    transition: all 0.3s ease;
    transition-delay: 0.8s;
  }
  header nav .isActive .line:nth-child(1) {
    transform: translateY(14px) rotate(-45deg);
  }
  header nav .isActive .line:nth-child(2) {
    transform: translateY(-14px) rotate(45deg);
  }
}
@media screen and (max-width: 400px) {
  header nav .me h1, header nav .me h2 {
    display: none !important;
  }
}
.transition-fade {
  transition: 0.4s;
  opacity: 1;
  transform: translateX(0);
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateX(-50px);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(50px);
}

/* DELAY ANIMATION */
.delay1 {
  transition-delay: 0.2s;
}

.delay2 {
  transition-delay: 0.4s;
}

.delay3 {
  transition-delay: 0.6s;
}

.stickyBtnContact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 15px;
  transition: all 0.4s ease;
  background-color: #009fe3;
  color: #f1f2f6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 1s ease;
}
.stickyBtnContact:hover {
  transform: translateX(5px) scale(1.2);
}

@media screen and (max-width: 900px) {
  .stickyBtnContact {
    display: none;
  }
}
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  color: #353b48;
  min-height: 90vh;
}
.about .tab {
  height: 600px;
  width: 50%;
  overflow: hidden;
}
.about .tab__action {
  display: flex;
}
.about .tab__action button {
  background: #2f3640;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  transition: background 0.5s ease-in-out;
  color: #f1f2f6;
}
.about .tab__action button:hover:not(.active) {
  background: #009fe3;
}
.about .tab__action .active {
  color: #f1f2f6;
  transition: background 0.5s ease-in-out;
  font-weight: 800;
  background: #009fe3;
  margin-bottom: -5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.about .tab__item {
  font-family: "Roboto", sans-serif;
  animation: fadeEffect 1s;
  height: 100%;
}
.about .tab__item .content__parcours {
  padding: 30px;
  height: 100%;
  color: #353b48;
}
.about .tab__item .content__parcours h4 {
  color: #353b48;
  text-align: center;
  font-weight: initial;
}
.about .tab__item .content__parcours .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #353b48;
  color: #f1f2f6;
  width: 100%;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 1s ease;
}
.about .tab__item .content__parcours .item__show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 40px;
  transition: all 0.4 ease;
}
.about .tab__item .content__parcours .item__show span {
  width: 10%;
  display: flex;
  justify-content: center;
}
.about .tab__item .content__parcours .item__show span i {
  color: #009fe3;
}
.about .tab__item .content__parcours .item__show span .fa-chevron-circle-up {
  display: none;
}
.about .tab__item .content__parcours .item__show p {
  font-size: 12px;
  width: 90%;
}
.about .tab__item .content__parcours .item__hidden {
  padding: 10px;
  font-size: 12px;
  display: none;
}
.about .tab__item .content__parcours .item .itemIsActive {
  display: block;
  animation: fadeEffect 0.6s ease;
}
.about .tab__item .content__parcours .formations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}
.about .tab__item .content__parcours .experiences {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}
.about .tab__item .content {
  padding: 30px;
  height: 100%;
}
.about .tab__item .content .hardSkills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
.about .tab__item .content .hardSkills .bar {
  width: 100%;
  height: 6px;
  background-color: #2f3640;
  margin: 5px 0px;
}
.about .tab__item .content .hardSkills .bar .skills {
  height: 6px;
}
.about .tab__item .content .hardSkills .bar .HTML {
  width: 90%;
  background-color: #ff9f43;
  animation: fillBarHTML 1s ease-in-out;
}
.about .tab__item .content .hardSkills .bar .SCSS {
  width: 70%;
  background: #ff9ff3;
  animation: fillBarSCSS 1s ease-in-out;
}
.about .tab__item .content .hardSkills .bar .JS {
  width: 65%;
  background: #f9ca24;
  animation: fillBarJS 1s ease-in-out;
}
.about .tab__item .content .hardSkills .bar .ANGULAR {
  width: 50%;
  background: #eb0b0b;
  animation: fillBarANGULAR 1s ease-in-out;
}
.about .tab__item .content .hardSkills .bar .VUE {
  width: 30%;
  background: #10ac84;
  animation: fillBarVUE 1s ease-in-out;
}
.about .tab__item .content .hardSkills .bar .BOOTSTRAP {
  width: 80%;
  background: #8854d0;
  animation: fillBarBOOTSTRAP 1S ease-in-out;
}
.about .tab__item .content .hardSkills .bar .PAO {
  width: 60%;
  background: #1750ca;
  animation: fillBarPAO 1S ease-in-out;
}
.about .tab__item .content .softSkills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
}
.about .tab__item .content .softSkills__title {
  margin-top: 20px;
}
.about .tab__item .content .softSkills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.about .tab__item .content .softSkills__container p {
  text-align: center;
  width: 20%;
  padding: 10px;
  font-weight: 800;
  background-color: #2f3542;
  color: #f1f2f6;
}
.about .tab__item .content h4 {
  text-align: center;
  margin: 10px;
  font-weight: initial;
}
.about .me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  padding: 30px;
}
.about .me .img {
  filter: drop-shadow(0 0 0.75rem black);
}
.about .me .img img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 15vw;
  width: 15vw;
  max-height: 250px;
  max-width: 250px;
  object-fit: cover;
}
.about .me p {
  font-family: "Roboto", sans-serif;
  color: #2f3542;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
  line-height: 25px;
}

@keyframes fillBarHTML {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 90%;
  }
}
@keyframes fillBarSCSS {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 70%;
  }
}
@keyframes fillBarJS {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 65%;
  }
}
@keyframes fillBarANGULAR {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 50%;
  }
}
@keyframes fillBarVUE {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 30%;
  }
}
@keyframes fillBarBOOTSTRAP {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 80%;
  }
}
@keyframes fillBarPAO {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 60%;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
  }
  .about .tab {
    width: 80%;
  }
  .about .me {
    display: none;
    background-color: green;
    height: 100%;
    padding: 0;
    flex-direction: row;
  }
  .about .me p {
    display: none;
  }
  .about .me .img img {
    height: 150px;
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .about .tab {
    height: 80vh;
    width: 90%;
  }
  .about .tab .item {
    padding: 10px;
  }
  .about .me {
    display: none;
  }
}
.bgModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #353b486b;
  z-index: 99;
}
.bgModal .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bgModal .modal .modal__content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.bgModal .modal .modal__content .cm {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  color: #009fe3;
  right: 15px;
  top: 10px;
  z-index: 99;
  transition: all 0.4s ease;
}
.bgModal .modal .modal__content .cm:hover {
  transform: translateX(5px) scale(1.2);
}
.bgModal .modalAnimOpen {
  animation-duration: 0.8s;
  animation-name: fadeIn;
}

/* @media screen and (max-width: 900px) {
  .projectModal, .formModal{
    width: 80vw !important;
    }
    .overlayIsValid{
      p{
        font-size: 18px !important;
      }
    }
  } */
/* @media screen and (max-width: 600px) {
  .projectModal, .formModal{
    width: 100vw !important;
    height: 400px;
    .left{
      display: none;
    }
    .right{
      width: 100% !important;
    }
    .overlayIsValid{
      p{
        text-align: center;
        font-size: 14px !important;
      }
    }
  }


 } */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.bgLoader {
  z-index: 30;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*     display: none; */
}
.bgLoader .loader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.bgLoader .loader__content img {
  width: 30px;
  animation: scale 1s infinite ease;
  margin-bottom: 10px;
}
.bgLoader .loader__content .blops {
  display: flex;
}
.bgLoader .loader__content .blops .blop {
  background: white;
  border-radius: 50%;
  margin: 20px;
  height: 10px;
  width: 10px;
  box-shadow: 0 0 0 0 white;
  animation: pulse-white 1s infinite;
}

.hiddenLoader {
  display: none;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
.formModal {
  background-color: #f1f2f6;
  color: #353b48;
}
.formModal__content {
  max-width: 700px;
  height: 500px;
  width: 100%;
  display: flex;
}
.formModal__content .form {
  width: 50%;
  padding: 10px;
}
.formModal__content .form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.formModal__content .form form h2 {
  text-align: center;
  font-size: 20px;
}
.formModal__content .form form .item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.formModal__content .form form .item label {
  margin-bottom: 5px;
  font-size: 12px;
}
.formModal__content .form form .item input {
  height: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #2f3542;
  background-color: #f1f2f6;
  color: #353b48;
}
.formModal__content .form form .item input:focus {
  border-bottom: 2px solid #2f3542;
}
.formModal__content .form form .item textarea {
  resize: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #2f3542;
  background-color: #f1f2f6;
  color: #353b48;
}
.formModal__content .form form .item textarea:focus {
  border-bottom: 2px solid #2f3542;
}
.formModal__content .form form .item p {
  font-family: "Roboto", sans-serif;
  color: #eb4d4b;
  font-size: 12px;
  padding: 3px 0;
}
.formModal__content .form form button {
  width: 150px;
  border: none;
  padding: 10px 12px;
  color: #f1f2f6;
  background: #009fe3;
  cursor: pointer;
  transition: all 0.4s ease;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 15px;
}
.formModal__content .form form button:hover {
  background: "";
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: translateX(5px) scale(1.2);
}
.formModal__content .form .overlayIsValid {
  position: absolute;
  background: #353b48;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 99;
  display: none;
}
.formModal__content .form .overlayIsValid__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formModal__content .form .overlayIsValid__content p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #f1f2f6;
}
.formModal__content .info {
  font-family: "Raleway", sans-serif;
  background: #2f3640;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  color: #f1f2f6;
  text-align: center;
}
.formModal__content .info a {
  padding: 10px;
  color: #009fe3;
}
.formModal__content .info a i {
  transition: all 0.4s ease;
}
.formModal__content .info a i:hover {
  transform: translateX(5px) scale(1.2);
}
.formModal__content .info p {
  font-size: 13px;
  padding: 10px;
}
.formModal__content .info p i {
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .formModal {
    height: auto;
    width: 100vw;
  }
}
@media screen and (max-width: 550px) {
  .formModal__content {
    height: 100%;
    flex-direction: column-reverse;
  }
  .formModal__content .form {
    height: 100%;
    width: 100%;
  }
  .formModal__content .info {
    text-align: inherit;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30%;
  }
  .formModal__content .info img {
    width: 80px;
  }
  .formModal__content .info__text {
    display: none;
  }
}
.projectModal {
  background: #353b48;
  display: flex;
  width: 700px;
  height: 500px;
}
.projectModal .left {
  width: 50%;
}
.projectModal .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectModal .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  position: relative;
  font-family: "Roboto", sans-serif;
  z-index: 10;
  padding: 20px;
}
.projectModal .right .action {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.projectModal .right .action a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #009fe3;
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
  transition: all 1s ease;
}
.projectModal .right .action a:hover {
  transform: translateX(5px) scale(1.2);
}
.projectModal .right .bgWaveTop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.projectModal .right .bgWaveBottom {
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.projectModal .right .title {
  color: white;
  font-size: 18px;
}
.projectModal .right .desc {
  font-size: 15px;
  color: white;
  text-align: justify;
}
.projectModal .right .category {
  color: white;
  text-align: center;
}
.projectModal .right .tags {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.projectModal .right .tags__item {
  background: #666666;
  padding: 10px 12px;
  color: white;
  font-weight: 800;
  font-size: 12px;
}
.projectModal .right .tags .itemCSS {
  background-color: #2e86de;
}
.projectModal .right .tags .itemSCSS {
  background-color: #ff9ff3;
}
.projectModal .right .tags .itemHTML {
  background-color: #ff9f43;
}
.projectModal .right .tags .itemJS {
  background-color: #f9ca24;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #f1f2f6;
}

/*# sourceMappingURL=style.css.map */
